* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #f5f5f5;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 20px 80px;
    text-align: center;

}

.main-menu {
    display: flex;
    list-style: none;
    gap: 35px;
    justify-content: space-between;
    align-items: center;
}

.main-menu a {
    text-decoration: none;
    color: #575757;
    font-family: 'inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.button {

    background: #2563EB;
    padding: 12px 28px;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
}

.hero {

    height: 90vh;
    background: url("./assets/banner.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero-content {
    position: relative z-index 1;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    color: rgb(252, 251, 251);

}

.hero h1 {
    font-size: 60px;
    margin-bottom: 20px;

}

.hero p {

    width: 700px;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 30px;

}

.hero i {

    font-style: italic;

}
/* Speakers Section */
.speakers {
    padding: 80px;
    background: #f5f5f5;

}
.speakers h2 {

    text-align: center;
    font-size: 45px;
    margin-bottom: 50px;

}

.speaker-grid {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

}

.card {

    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    background: white;
    

}

.card img {

    width: 100%;
    height: 300px;
    object-fit: cover;

}

.card small {

    color: blue;
    padding: 15px;
    display: block;
    font-weight: bold;

}

.card h3 {

    padding: 0 15px;

}

.card p {

    padding: 15px;
    color: rgb(37, 36, 36);

}
/* Pricing Section */
.pricing{

    padding:100px 0;
    background:#ffffff;

}

.pricing h2{

    font-size:48px;
    font-weight:800;
    color:#111827;
    text-align:center;
    margin-bottom:18px;

}

.subtitle{
    text-align:center;
    color:#6b7280;
    font-size:22px;
    margin-bottom:70px;
}

.pricing-container{

    width:1200px;
    margin:auto;
    display:flex;
    gap:28px;
    justify-content:center;

}

.pricingcard{

    width:370px;
    border:1px solid #E5E7EB;
    border-radius:14px;
    padding:32px;
    background:white;

}

.plan{

    font-size:14px;
    color:#7a7a7a;
    font-weight:700;
    letter-spacing:1px;

}

.pricingcard h3{

    font-size:62px;
    font-weight:800;
    color:#111827;
    margin-top:10px;

}

.person{

    color:#777;
    font-size:17px;

}

.pricingcard hr{

    border:none;

    border-top:1px solid #ececec;

    margin:28px 0;

}

.pricingcard ul{

    list-style:none;

}

.pricingcard ul li{

    margin-bottom:18px;

    color:#374151;

    font-size:17px;

    position:relative;

    padding-left:18px;

}

.pricingcard ul li::before{

    content:"•";

    position:absolute;

    left:0;

    color:#3b82f6;

}

.pricingcard button{

    width:100%;

    margin-top:25px;

    height:52px;

    border-radius:8px;

    border:2px solid #2563eb;

    background:white;

    color:#2563eb;

    font-weight:700;

    cursor:pointer;

    font-size:17px;

}

.active{

    background:#111C2D;

    color:white;

}

.active h3{

    color:white;

}

.active .plan{

    color:#b6c0d2;

}

.active .person{

    color:#d1d5db;

}

.active hr{

    border-top:1px solid #344054;

}

.active li{

    color:#e5e7eb;

}

.active button{

    background:#2F5BFF;

    border:none;

    color:white;

}

/* AI Prompt CTA Section */
/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
    background:#0d1117;
}

/* CTA Section */

.cta{
    padding:100px 20px;
    background:linear-gradient(135deg,#030030,#6554ff);
}

.cta-content{
    max-width:900px;
    margin:auto;
    text-align:center;
    color:#fff;
}

.cta h2{
    font-size:48px;
    font-weight:700;
    margin-bottom:20px;
}

.cta p{
    font-size:18px;
    line-height:1.8;
    max-width:700px;
    margin:0 auto 40px;
    opacity:.9;
}

.cta-buttons{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.cta-buttons a{
    text-decoration:none;
    padding:16px 36px;
    border-radius:50px;
    font-weight:600;
    transition:.3s;
}

.btn-primary{
    background:#fff;
    color:#6C63FF;
}

.btn-primary:hover{
    background:#f1f1f1;
    transform:translateY(-4px);
}

.btn-secondary{
    border:2px solid #fff;
    color:#fff;
}

.btn-secondary:hover{
    background:#fff;
    color:#6C63FF;
    transform:translateY(-4px);
}

/* Responsive */

@media(max-width:768px){

.cta h2{
    font-size:34px;
}

.cta p{
    font-size:16px;
}

.cta-buttons{
    flex-direction:column;
    align-items:center;
}

.cta-buttons a{
    width:220px;
}
}